footer{
    background-color: darken($color: $colour-white, $amount: 75%);
    margin: 0;
    padding: 10px 20px 20px 20px;
    & h4{
        color: $colour-white;
        font-weight: normal;
        margin: 13px 0 20px 0;
    }
    & p{
        color: $colour-white;
        font-weight: bold;
        margin: 10px 0 10px 0;
    }
    & i{
        width: 20px;
        margin-right: 10px;
    }
}

@media all and (min-width: 1020px){
    footer{
        display: flex;
        justify-content: center;
        padding: 30px;
        & .footer-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            max-width: 1150px;
            & H4, &p{
                margin: 0;
            }
        }
    }
}