.menu{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: darken($color: $colour-white, $amount: 10%);
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    padding: 30px 15px 80px 15px;
    animation: menu 3000ms cubic-bezier(.1,.9,.1,1) both;
    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    & h4, .heart{
        font-size: 27px;
        margin: 0 0 0 10px;
        font-weight: normal;
    }
    & .heart{
        padding-right: 15px;
        font-weight: bold;
    }
    &-group{
        margin: 15px 0 15px 0;
        &-dish{
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            border-radius: 20px;
            box-shadow: 0 4px 10px darken($color: $colour-white, $amount: 20%);
            background-color: darken($color: $colour-white, $amount: 5%);
            margin: 20px 0 20px 0;
            animation: dish 800ms both;
            &:hover .checkbox{
                width: 7rem;
                .fa-check-circle{
                    transform: rotate(360deg);
                }
            }
            &-content{
                padding: 12px;
                display: grid;
                grid-template-columns: auto auto;
                width: 100%;
                &-heading{
                    grid-column: 1/2;
                    grid-row: 1;
                }
                &-text{
                    grid-column: 1/2;
                    grid-row: 2;
                }
                &-price{
                    grid-column: 2/2;
                    grid-row: 2;
                    text-align: right;
                }
                &-heading, &-text, &-price{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            &--1 {
                animation-delay: 300ms;
            }
            &--2 {
                animation-delay: 500ms;
            }
            &--3 {
                animation-delay: 700ms;
            }
            &--4 {
                animation-delay: 900ms;
            }
        }
        & h2{
            font-size: 19px;
            font-weight: normal;
            margin: 0 0 0 10px;
        }
        & h3{
            font-size: 19px;
            margin: 0 0 6px 0;
        }
        & p{
            font-size: 15px;
            margin: 0;
        }
    }
}

@media all and (min-width: 1080px){
    .menu{
        padding-bottom: 350px;
        &-group-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-group{
            width: 350px;
        }
    }
}