@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body, header, main, footer {
  margin: 0;
  margin: auto;
  max-width: 1200px;
}

h4 {
  font-family: "Shrikhand";
  font-size: 20px;
}

h1, h2, h3, p {
  font-family: "Roboto";
}

h1, h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

i {
  font-weight: normal;
}

.button {
  background-color: #FF79DA;
  border-radius: 40px;
  margin: 20px 0 20px 0;
  box-shadow: 1px 1px 10px grey;
}
.button p {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 17px;
}
.button__menu {
  width: min-content;
  padding: 0 35px 0 35px;
  align-self: center;
}

.underline {
  height: 4px;
  width: 48px;
  background-color: #99E2D0;
  margin: 5px 0 0 10px;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
  padding: 30px 0 10px 0;
  box-shadow: 0 4px 10px #bfbfbf;
}
header .arrow-left {
  margin-left: 30px;
  margin-right: -50px;
  font-size: 25px;
}
header #logo {
  margin: auto;
}

footer {
  background-color: #404040;
  margin: 0;
  padding: 10px 20px 20px 20px;
}
footer h4, footer p {
  color: #fff;
  font-weight: bold;
}
footer i {
  width: 20px;
  margin-right: 10px;
}

.cover-picture {
  overflow: hidden;
  height: 300px;
}
.cover-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #e6e6e6;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  padding: 30px 15px 80px 15px;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.menu h4, .menu i {
  font-size: 27px;
  margin: 0 0 0 10px;
  font-weight: normal;
}
.menu i {
  padding-right: 15px;
}
.menu-group {
  margin: 15px 0 15px 0;
}
.menu-group-dish {
  border-radius: 20px;
  box-shadow: 0 4px 10px #cccccc;
  background-color: #f2f2f2;
  padding: 12px;
  margin: 20px 0 20px 0;
}
.menu-group-dish div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.menu-group h2 {
  font-size: 19px;
  font-weight: normal;
  margin: 0 0 0 10px;
}
.menu-group h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
}
.menu-group p {
  font-size: 15px;
  margin: 0;
}

.location {
  display: flex;
  justify-content: center;
  z-index: -1;
  background-color: #e6e6e6;
  padding: 20px 0 20px 0;
}
.location .fa-map-marker-alt {
  padding-right: 10px;
}
.location p {
  margin: 0;
  font-weight: bold;
  padding-left: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 40px 20px 40px 20px;
}
.about h1 {
  margin: 0;
  padding: 0 30px 0 30px;
  text-align: center;
}
.about p {
  text-align: center;
  font-size: 16.8px;
}

.fonctionnement {
  padding: 30px 0 30px 0;
  margin: 0 20px 0 20px;
}
.fonctionnement-bloc {
  display: flex;
  flex-direction: column;
}
.fonctionnement-bloc-content {
  display: flex;
  align-items: center;
}
.fonctionnement-bloc-content .number {
  position: relative;
  margin: 0 -15px 0 0;
  padding: 6px;
  height: 18px;
  width: 22px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  font-weight: bold;
}
.fonctionnement-bloc-content p {
  margin: 0 0 0 4px;
}
.fonctionnement-bloc-content h3 {
  width: 100%;
  padding: 30px;
  box-shadow: 0 4px 10px #cccccc;
  border-radius: 20px;
}
.fonctionnement-bloc-content h3 i {
  margin-right: 20px;
  color: grey;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 50px 0 50px 0;
}
.restaurants h2 {
  margin: 0 0 30px 20px;
}
.restaurants-bloc {
  margin: 0 20px 0 20px;
}
.restaurants-bloc-content {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 10px #cccccc;
  margin: 20px 0 20px 0;
}
.restaurants-bloc-content-img {
  overflow: hidden;
  height: 75%;
  width: 100%;
}
.restaurants-bloc-content-img img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.restaurants-bloc-content-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 20px 13px 10px;
}
.restaurants-bloc-content-label h3 {
  margin: 0 0 5px 0;
}
.restaurants-bloc-content-label p {
  margin: 0;
}
.restaurants-bloc-content-label .fa-heart {
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
