@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@keyframes menu {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes dish {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
body, header, main, footer {
  margin: 0;
  margin: auto;
  max-width: 380px;
}

h4 {
  font-family: "Shrikhand";
  font-size: 20px;
}

h1, h2, h3, h5, p {
  font-family: "Roboto";
}

h1, h2, h5 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

i {
  font-weight: normal;
}

.btn {
  cursor: pointer;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  margin: 20px 0 20px 0;
  box-shadow: 0 4px 10px #cccccc;
  position: relative;
  z-index: 1;
}
.btn p {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 17px;
}
.btn__menu {
  width: min-content;
  align-self: center;
  padding: 0 35px 0 35px;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 4px 15px gray;
  opacity: 0;
  border-radius: 40px;
  transition: opacity 250ms;
}

.underline {
  height: 4px;
  width: 48px;
  background-color: #99E2D0;
  margin: 5px 0 0 10px;
}

.heart {
  position: relative;
  display: flex;
  font-size: 26px;
  font-weight: lighter;
}
.heart__empty {
  position: absolute;
  justify-self: flex-end;
  z-index: 0;
}
.heart__full {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transform: scale(0.3);
}
.heart__full:hover, .heart__full:active {
  transform: scale(1.1);
  opacity: 1;
  transition: all 300ms;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
  transform: translateX(40%);
  transition: transform 400ms ease-in-out;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #fff;
  font-size: 30px;
  width: 100%;
  height: 72px;
}

.fa-check-circle {
  transition: transform 400ms ease-in-out;
  font-size: 22px;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
  padding: 30px 0 10px 0;
  box-shadow: 0 4px 10px #bfbfbf;
}
header .arrow-left {
  margin-left: 30px;
  margin-right: -50px;
  font-size: 25px;
}
header #logo {
  margin: auto;
}

footer {
  background-color: #404040;
  margin: 0;
  padding: 10px 20px 20px 20px;
}
footer h4 {
  color: #fff;
  font-weight: normal;
  margin: 13px 0 20px 0;
}
footer p {
  color: #fff;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
footer i {
  width: 20px;
  margin-right: 10px;
}

.cover-picture {
  overflow: hidden;
  height: 300px;
}
.cover-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #e6e6e6;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  padding: 30px 15px 80px 15px;
  animation: menu 3000ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.menu h4, .menu .heart {
  font-size: 27px;
  margin: 0 0 0 10px;
  font-weight: normal;
}
.menu .heart {
  padding-right: 15px;
  font-weight: bold;
}
.menu-group {
  margin: 15px 0 15px 0;
}
.menu-group-dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 10px #cccccc;
  background-color: #f2f2f2;
  margin: 20px 0 20px 0;
  animation: dish 800ms both;
}
.menu-group-dish:hover .checkbox-container {
  transform: translateX(0%);
}
.menu-group-dish:hover .checkbox-container .fa-check-circle {
  transform: rotate(360deg);
}
.menu-group-dish:hover .menu-group-dish-content {
  width: 200px;
}
.menu-group-dish-content {
  padding: 12px;
  width: 500px;
}
.menu-group-dish-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-group-dish--1 {
  animation-delay: 300ms;
}
.menu-group-dish--2 {
  animation-delay: 500ms;
}
.menu-group-dish--3 {
  animation-delay: 700ms;
}
.menu-group-dish--4 {
  animation-delay: 900ms;
}
.menu-group h2 {
  font-size: 19px;
  font-weight: normal;
  margin: 0 0 0 10px;
}
.menu-group h3 {
  font-size: 19px;
  margin: 0 0 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-group p {
  font-size: 15px;
  margin: 0;
}
.menu-group .menu-group-dish-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-group .checkbox-container p {
  margin: 0 20px 10px 0;
}

.location {
  display: flex;
  justify-content: center;
  z-index: -1;
  background-color: #e6e6e6;
  padding: 20px 0 20px 0;
}
.location .fa-map-marker-alt {
  padding-right: 10px;
}
.location h5 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 40px 20px 40px 20px;
}
.about h1 {
  margin: 0;
  padding: 0 30px 0 30px;
  text-align: center;
}
.about p {
  text-align: center;
  font-size: 16.8px;
}

.fonctionnement {
  padding: 30px 0 30px 0;
  margin: 0 20px 0 20px;
}
.fonctionnement-bloc {
  display: flex;
  flex-direction: column;
}
.fonctionnement-bloc-content {
  display: flex;
  align-items: center;
}
.fonctionnement-bloc-content .number {
  position: relative;
  margin: 0 -15px 0 0;
  padding: 6px;
  height: 18px;
  width: 22px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  font-weight: bold;
}
.fonctionnement-bloc-content p {
  margin: 0 0 0 4px;
}
.fonctionnement-bloc-content h3 {
  width: 100%;
  padding: 30px;
  box-shadow: 0 4px 10px #cccccc;
  border-radius: 20px;
}
.fonctionnement-bloc-content h3 i {
  font-size: 18px;
  margin-right: 25px;
  margin-left: 5px;
  color: grey;
}
.fonctionnement-bloc-content__highlight h3 {
  background-color: #f2eafb;
}
.fonctionnement-bloc-content__highlight h3 i {
  color: #9356DC;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 50px 0 50px 0;
}
.restaurants h2 {
  margin: 0 0 30px 20px;
}
.restaurants-bloc {
  margin: 0 20px 0 20px;
}
.restaurants-bloc-content {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 10px #cccccc;
  margin: 20px 0 20px 0;
}
.restaurants-bloc-content-new {
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurants-bloc-content-new p {
  background-color: #99E2D0;
  color: #278870;
  margin: 0;
  padding: 8px 12px 8px 12px;
  font-weight: bold;
  border-radius: 5%;
  box-shadow: 0 2px 8px #4d4d4d;
}
.restaurants-bloc-content-img {
  overflow: hidden;
  height: 75%;
  width: 100%;
}
.restaurants-bloc-content-img img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.restaurants-bloc-content-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 20px 13px 10px;
}
.restaurants-bloc-content-label h3 {
  margin: 0 0 5px 0;
}
.restaurants-bloc-content-label p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
