.button{
    background-image: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 40px;
    margin: 20px 0 20px 0;
    box-shadow: 0 4px 10px darken($color: $colour-white, $amount: 20%);
    & p{
        color: $colour-white;
        font-weight: bold;
        margin: 0;
        padding: 17px;
    }
    &__menu{
        width: min-content;
        padding: 0 35px 0 35px;
        align-self: center;
    }
}