.button{
    background-color: $colour-secondary;
    border-radius: 40px;
    margin: 20px 0 20px 0;
    box-shadow: 1px 1px 10px grey;
    & p{
        color: $colour-white;
        font-weight: bold;
        margin: 0;
        padding: 17px;
    }
    &__menu{
        width: min-content;
        padding: 0 35px 0 35px;
        align-self: center;
    }
}