.checkbox{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: $colour-tertiary;
    color: $colour-white;
    font-size: 30px;
    width: 0;
    overflow: hidden;
    height: 72px;
    transition: width 300ms ease-in-out;
}

.fa-check-circle{
    font-size: 22px;
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}