.heart{
    position: relative;
    display: flex;
    font-size: 26px;
    font-weight: lighter;
    cursor: pointer;
    &:hover .heart__full{
        transform: scale(1.1);
        opacity: 1;
        transition: all 400ms;
    &__empty{
        position: absolute;
        justify-self: flex-end;
        z-index: 0;
        }
    }
    &__full{
        position: absolute;
        background: $colour-heart;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        opacity: 0;
        transform: scale(0.1);       
    }
}
