body, header, main, footer{
    margin: 0;
}

.wrap{
    max-width: 1150px;
    margin: auto;
    box-shadow: 0 4px 10px darken($color: $colour-white, $amount: 20%);
}

@media all and (min-width: 760px){
    .about_and_fonctionnement{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}
