@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

h4{
    font-family: $heading-typo;
    font-size: 20px;
}

h1, h2, h3, p{
    font-family: $text-typo;
}

h1, h2{
    font-size: $heading-size;
}

h3{
    font-size: $heading3-size;
}

a{
    text-decoration: none;
    color: $colour-text;
}

.bold{
    font-weight: bold;
}

i{
    font-weight: normal;
}