.fonctionnement{
    padding: 30px 0 30px 0;
    margin: 0 20px 0 20px;
    &-bloc{
        display: flex;
        flex-direction: column;
        &-content{
            display: flex;
            align-items: center;
            & .number{
                position: relative;
                margin: 0 -15px 0 0;
                padding: 6px;
                height: 18px;
                width: 22px;
                border-radius: 100%;
                color: white;
                background-color: $colour-primary;
                font-weight: bold;
            }
            & p{
                margin: 0 0 0 4px;
            }
            & h3{
                width: 100%;
                padding: 30px;
                box-shadow: 0 4px 10px darken($color: $colour-white, $amount: 20%);
                border-radius: 20px;
                & i{
                    font-size: 18px;
                    margin-right: 25px;
                    margin-left: 5px;
                    color: grey;
                }
            }
            &__highlight{
                & h3{
                    background-color: lighten($color: $colour-primary, $amount: 35%);
                    & i{
                        color: $colour-primary;
                    }
                }
            }
        }
    } 
}

@media all and (min-width: 760px){
    .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0;
        padding: 40px;
        background-color: darken($color: $colour-white, $amount: 3%);
        &-bloc{
            &-content{
                max-width: 490px;
            }
        }
        & h2{
            margin-top: 0;
            margin-left: 0;
            font-size: 28px;
        }
    }
}