$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #fff;
$colour-heading: black;
$colour-text: black;
$colour-btn: linear-gradient($colour-secondary, $colour-primary);
$colour-heart: linear-gradient($colour-primary, $colour-secondary);
$colour-spinner: linear-gradient($colour-primary, $colour-secondary, $colour-tertiary);

$heading-typo: "Shrikhand";
$text-typo: "Roboto";
$heading-size: 24px;
$heading3-size: 16px;